*{
    box-sizing: border-box;
}
/* width */
::-webkit-scrollbar {  
    width: 5px;
    height: 5px;
    background-color: #9a75ff;
    border-radius: 10px;
}
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 0px  #151515; 
    border-radius: 50px;
  }
  /* Handle */
  ::-webkit-scrollbar-thumb {
    /*box-shadow: inset 0 0 5px #acac00; */
    background: #c70000; 
    border-radius: 10px;
    transition: 0.5s;
  }
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #ff0000; 
  }
body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0px 100px 80px 100px;
    margin: 0;
    text-align: center;
}
header{
    text-align: left;
    width: 100%;
    background-color: rgba(238, 238, 238, 0.911);
    padding: 5px 60px;
    position: fixed;
    bottom: 0;
    left: 0;
    box-shadow: 0px 0px 5px blue;
    z-index: 10;
}
header img{
    width: 80px;
    cursor: pointer;
}
header button{
    cursor: pointer;
    float: right;
    font-size: 30px;
    background-color: #00000000;
    border: none;
    color: blue;
    transition: 0.3s;
}
header button p{
    margin: 12px;
}
header button:hover{
    color: red;
}
header .menu{
    width: 200px;
    position: fixed;
    box-shadow: 0px 0px 5px blue;
    text-align: center;
    right: 5px;
    bottom: 75px;
    display: none;
    border-radius: 8px;
    background-color: rgba(238, 238, 238, 0.904);
}
header .menu a{
    text-decoration: none;
    display: block;
    color:  blue;
    font-size: 20px;
    transition: 0.3s;
    border-radius: 8px;
    padding: 5px;
}
header .menu a:hover{
    color: red;
    background-color: #55f7;
}
/* ------------------------------------------- Slide ------------------------------------- */
.slide-back{
    width: 80%;
    overflow: hidden;
    margin: 30px auto;
    border-radius: 10px;
}

@-webkit-keyframes slide-animation{
    0%{left: 90%;}
    10%{left: 90%;}
    20%{left: 170%;}
    30%{left: 250%;}
    40%{left: 330%;}
    50%{left: 410%;}
    60%{left: 330%;}
    70%{left: 250%;}
    80%{left: 170%;}
    90%{left: 90%;}
    100%{left: 90%;}
}

.slide-images{
    margin: 0 0 0 -400%;
    position: relative;
    -webkit-animation-name: slide-animation;
    -webkit-animation-duration: 33s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    -webkit-animation-play-state: running;
}
.images{
    width: 16%;
    position: relative;
    float: left;
}
.images img{
    width: 99%;
    border-radius: 10px;
}
/* ------------------------------------------ Programming ------------------------------------------*/
.selection1{
    margin-top: 50px;
    background-color: #55f3;
    text-align: center;
    border-radius: 10px;
    padding: 50px;
}
.part1-header{
    padding: 8px 40px;
    border: none;
    background-color: #3030ff;
    color: white;
    font-size: 25px;
    border-radius: 10px;
}
.selection1 .info-1{
    border: 2px solid blue;
    border-radius: 10px;
    margin-top: 50px;
    padding: 30px 0px;
}
.selection1 .info-1 div{
    display: inline-block;
    width: 40%;
}
.selection1 .info-1 div img{
    width: 60%;
}
.selection1 .info-1 div p{
    text-align: left;
}
.selection1 .info-1 div p a:hover{
    text-decoration: none;
    color: red;
}
/* ------------------------- Lessons --------------------------*/
.selection2{
    margin-top: 50px;
    background-color: #ff505030;
    border-radius: 10px;
    padding: 50px;
    text-align: center;
    color: blue;
}
.learn{
    display: flex;
    justify-content: center;
    position: relative;
    margin: 10px 0px;
    overflow-x: auto;
    padding: 10px;
}
.learn .object{
    background-color: #00000000;
    border: 2px solid blue;
    text-align: center;
    border-radius: 10px;
    min-width: 240px;
    transition: 0.4s;
    padding: 10px;
    margin: 0px 5px;
}
.learn .object img{
    width: 60%;
    margin: 10px;
}
.learn .object h3{
    color: blue;
}
.learn .object button{
    border: 2px solid blue;
    border-radius: 10px;
    padding: 5px;
    width: 100%;
    background-color: #00000000;
    color: blue;
    cursor: pointer;
}
.learn .object:hover{
    background-color: #ff505080;
    transform: skewX(-5deg);
}
/* ------------------------------------------ See Apps ------------------------------------------*/
.see-button{
    font-size: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 5px 20px;
    color: blue;
    background-color: #00000000;
    border: 2px solid blue;
    transition: 0.4s;
    border-radius: 10px;
}
.see-button:hover{
    color: red;
    background-color: #9797ff;
    border-color: red;
}
.apps{
    display: none;
}
.error{
    color: red;
    display: none;
    -webkit-animation-name: errorAnimation;
    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    -webkit-animation-play-state: running;
    font-size: 15px;
}
@-webkit-keyframes errorAnimation{
    0%{font-size: 15px;}
    100%{font-size: 20px;}
}
/* -------------------------------------- Sign In ---------------------------------*/
.signIn{
    display: none;
}
#form{
    padding: 30px;
    max-width: 300px;
    min-width: 300px;
    margin: auto;
}
#form input{
    width: 100%;
    border-radius: 10px;
    border: 2px solid rgb(108, 108, 255);
    color: rgb(108, 108, 255);
    transition: 0.3s;
    padding: 5px 10px;
    margin-bottom: 10px;
    z-index: 10;
    transition: 0.3s;
}
.submit{
    width: 240px;
    border-radius: 10px;
    border: 2px solid rgb(108, 108, 255);
    color: rgb(108, 108, 255);
    transition: 0.3s;
    padding: 5px 10px;
    margin-bottom: 10px;
    z-index: 10;
    transition: 0.3s;
}
.submit:hover{
    background-color: #fbb;
}
hr{
    border-color: blue;
    box-shadow: 0px 0px 5px red;
    margin: 20px 0px
}
h1{
    color: blue;
}
h1 span{
    color: red;
}
/* -------------------------------------- RESPONSIVE -----------------------------------------*/
@media only screen and (max-width: 1000px){
    .selection1 .info-1 div{
        display: block;
        width: 100%;
        padding: 20px;
    }
    .selection1 .info-1 div p{
        text-align: center;
    }
}
@media screen and (max-width: 600px){
    body{
        padding: 0px 10px 80px 10px;
    }
}